body {
  color: #71605A;
  font-family: 'Open Sans', sans-serif ,'Noto Sans JP', sans-serif;
}

a {
  color: #71605A;
}

img {
  vertical-align: bottom;
}

.wrap-width,
.wrap {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  position: relative;
}

.gnav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.gnav-item {
  width: 100%;
}

.gnav-item > a {
  color: #71605A;
  display: block;
  padding: 30px 60px;
  text-align: center;
  text-decoration: none;
}

.gnav-item > a:hover {
  background: #71605A;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-btnReserve {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #C44722;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.header-btnReserve:hover {
  -webkit-box-shadow: 0 3px 6px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #832f17;
}

.header-caution {
  background: #999;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  position: fixed;
  left: 300px;
  padding: 20px;
}

.fixed-reserve {
  position: fixed;
  right: 20px;
  top: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-toPagetop {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #C44722;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-decoration: none;
  color: #fff;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
}

.footer-toPagetop:hover {
  -webkit-box-shadow: 0 3px 6px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #832f17;
}

.footer-copy {
  display: block;
  text-align: center;
}

.store-title {
  margin-bottom: 20px;
  text-align: center;
}

.store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.store-list > dt {
  color: #99867f;
}

.snsNav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.snsNav-list a {
  margin-right: 10px;
}

.snsNav-list a img {
  width: 30px;
}

.topImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: calc(((100vw - 44rem) / 2) * -1);
  margin-right: calc(((100vw - 44rem) / 2) * -1);
  text-align: center;
}

.topImage > img {
  height: auto;
  width: 100vw;
}

.topNews {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: calc(((100vw - 44rem) / 2) * -1);
  margin-right: calc(((100vw - 44rem) / 2) * -1);
  padding: 10px calc((100vw - 44rem) / 2);
  background: #71605A;
  color: #fff;
}

.topNews-title {
  border-right: 1px solid #fff;
  margin-right: 20px;
  padding-right: 20px;
}

.topNews-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.topNews-date {
  margin-right: 20px;
}

.topNews-more {
  color: #fff;
  margin-left: auto;
}

.concept {
  margin-bottom: 20px;
}

.concept-title {
  margin-bottom: 20px;
}

.concept-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.concept-column01 {
  width: 50%;
}

.concept-desc {
  font-family: "Noto Serif JP", serif;
  font-size: 2em;
}

.concept-desc-01 {
  display: block;
  text-align: left;
}

.concept-desc-02 {
  display: block;
  text-align: center;
}

.concept-desc-03 {
  display: block;
  text-align: right;
}

.concept-image {
  width: 369px;
}

.reserve {
  margin-bottom: 20px;
}

.reserve-title {
  margin-bottom: 20px;
}

.reserve-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reserve-schedule-title {
  text-align: center;
}

.reserve-calendar {
  border-collapse: collapse;
}

.reserve-calendar tr:not(:last-of-type) {
  border-bottom: 1px solid #71605A;
}

.reserve-calendar th,
.reserve-calendar td {
  padding: 15px 30px;
  text-align: center;
}

.reserve-calendar th {
  background: #ddd;
}

.reserve-calendar a {
  color: #C44722;
  display: block;
}

.reserve-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.reserve-dropdown {
  position: relative;
}

.reserve-dropdown::before {
  content: " ";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #666666;
  position: absolute;
  top: 15px;
  right: 10px;
}

.reserve-day,
.reserve-time,
.reserve-people {
  background: transparent;
  -webkit-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #666;
  border-radius: 0px;
  display: block;
  padding: 5px 30px 5px 5px;
  width: 100%;
  margin-bottom: 20px;
}

.reserve-formBtn {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #C44722;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-decoration: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.reserve-formBtn:hover {
  -webkit-box-shadow: 0 3px 6px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #832f17;
}

@media screen and (max-width: 1024px) {
  .wrap {
    width: 100vw;
  }

  .topNews {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }
}

@media (max-width: 1024px) {
  .topImage {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 896px) {
  .gnav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .gnav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .gnav-item {
    border-top: 1px solid #71605A;
  }

  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-btnReserve {
    width: 100%;
  }

  .fixed-reserve {
    right: 0;
    top: 0;
  }

  .store-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .snsNav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .topImage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .topNews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .topNews-title {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }

  .topNews-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .topNews-more {
    margin-left: 0;
  }

  .concept-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .concept-column01 {
    width: 80%;
  }

  .reserve-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .reserve-calendar th,
  .reserve-calendar td {
    padding: 5px 10px;
  }
}
/*# sourceMappingURL=resource/maps/style.css.map */