doctype html
html(lang="jp")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        block title
            title 練習
        block links
            link(rel="stylesheet", href="./css/style.css")
    body
        .wrap
            include ./_header.pug
            include ./_gnav.pug
            block main
            include ./_footer.pug