.footer {
  // @include column(space-between);
  &-toPagetop {
    @include btn(20px,$color-accent,$color-return);
    color: $color-return;
    height: 40px;
    justify-content: center;
    position: fixed;
      bottom: 20px;
      right: 20px;
    width: 40px;
  }
  &-copy {
    display: block;
    text-align: center;
  }
}

.store {
  &-title {
    @include u-mb;
    text-align: center;
  }
  &-info {
    @include column(space-between);
  }
  &-list {
    > dt {
      color: lighten($color-text, 15%) ;
    }
  }
}

.snsNav {
  // background: red;
  &-list {
    list-style: none;
    @include column(flex-start);
    a {
      margin-right: 10px;
      img {
        width: 30px;
      }
    }
  }
}
