@mixin btn($radius,$color-base,$color-text) {
  -webkit-align-items: center;
  align-items: center;
  background: $color-base;
  cursor: pointer;
  color: $color-text;
  display: flex;
  border-radius: $radius;
  box-shadow: 0 3px 6px 1px rgba(0,0,0,0.2);
  padding: 10px;
  text-decoration: none;
  &:hover {
    box-shadow: 0 3px 6px 5px rgba(0,0,0,0.2);
    transition: $time-transition;
    background: darken($color-base, 15%);
  }
}
